# Import Matplotlib and Numpy

In [47]:
import matplotlib.pyplot as plt
import numpy as np

# Creating Simple data

In [54]:
# X-axis Data using Linspace
x = np.linspace(0, 5, 11)
x

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. ])

In [56]:
# Y-axis Data by squaring the x 
y = x ** 2
y

array([ 0.  ,  0.25,  1.  ,  2.25,  4.  ,  6.25,  9.  , 12.25, 16.  ,
       20.25, 25.  ])